@charset "utf-8";
/* CSS Document */


body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  /* my styles start*/
  max-width: 100%;
  /* my styles end */
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
label{
  color: white;
  padding-left:10px;
}
#maincontent {
  display:block;
  background-color: #f3f3f3;
  min-height: 100%;
  max-width:100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  max-width: 100%;
  height: 80px;
  background-color: #18191c;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding-top: 20px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    max-width:100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  display:block;
  position: relative;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100px;
  background-color: #18191c;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width:100%;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 10px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: auto;
  height:auto;
  max-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #18191c;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 10px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

}
.star{
  color: white;
}

a[isfavorite~="true"] span.star{
  color:white; 
}

#restaurants-list li a.favorite[isfavorite~="true"]{
  background-color:red; 
  box-shadow:-5px -10px;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: relative;
  height:120px;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  height: 300px;
  position: relative;
  width: 100%;
  display:block;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: relative;
  max-width:100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align:center;
}
#restaurant-img {
  display:block;
  width: 100%;
  height:auto;
  max-width: 600px;
  margin-left: auto;
  margin-right:auto;
}
#restaurant-address {
  text-align:center;
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  display:block;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width:600px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding:0px 40px 30px;
  max-width: 100%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #616161;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
  
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours{
  margin:auto;
}
#restaurant-hours td {
  margin:auto;
  color: #666;
  padding: 10px 20px;
}
#reviews-container{
  max-width:650px;
  margin:auto;
}
input[type=text], select, textarea{
  width:100%;
  padding: 10px 20px;
  box-sizing:border-box;
  margin-top:5px;
  margin-bottom:15px;
  resize:vertical;
}

button[type=submit]{
  background-color:#333;
  padding:10px 20px;
  border: none;
  color:white;
  border-radius: 4px;
  cursor:pointer;
}

button[type=submit]:hover{
  background-color:#666;
}

#form-label-wrapper{
  border-radius:4px;
  background-color:#333;
  padding:20px;
}
/*largest breakpoint */
@media screen and (min-width: 1120px){
  body{
    max-width: 1120px;
    margin: auto;
  }
  #restaurants-list li{
    width: 20%;
    padding:10px;
  }
}
/*medium break point*/
@media screen and (max-width: 900px){
  #restaurants-list {
    max-width: 100%;
    box-sizing:border-box;
  }
  #restaurants-list li{
    max-width:50%;
    padding: 5px;
    box-sizing:border-box;
  }
}
/*smallest break point*/
@media screen and (max-width: 550px){
  body{
    max-width:100%;
  }
  .filter-options{
    display: block;
    height: 150px;
  }
  nav{
    text-align:left;
    padding-left: 20px;  
  }
  #restaurants-list{
    max-width:100%;
    flex-direction:column;
    flex-wrap:nowrap;
    padding-left:0;
   
  }
  #restaurants-list li{
    width:100%;
    height:auto;
    min-width:90%;
    margin-left:0;
    padding-left:10px;
    padding-right:10px;
    margin: auto;
    box-sizing:border-box;
  }
  #restaurant-img{
    max-width:100%;
  }
  #restaurant-container{
    padding:0;
  }
}